* {
	margin: 0;
	padding: 0;
}
body
{
	font-family: sans-serif;
}
#navbar {
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-image: linear-gradient(to right, #5a17ba,#5f1782);
}